<div class="flex flex-col">
  <%= link_to "Home", root_path %>
  
  <%= render_card(
    title: "About", 
    subtitle: "yyy", 
    body: "xxx xxxx xxxx xxxxxxx xxxx xxxx xxxxxxx xxxx xxxx xxxxxxx xxxx xxxx xxxx", 
    footer: "zzz") do 
  %>
    
  <% end %>
</div>