<div class="flex flex-col">
  <%= link_to "About Me, Myself, and I", about_path %>
  
  <%= render_card(
    title: "Home", 
    subtitle: "yyy", 
    body: "xxx xxxx xxxx xxxxxxx xxxx xxxx xxxxxxx xxxx xxxx xxxxxxx xxxx xxxx xxxx", 
    footer: "zzz") do 
  %>
    
  <% end %>
</div>