<div class="flex flex-col">

  <%= render_card(
    title: "Home", 
    subtitle: "yyy", 
    body: "xxx xxxx xxxx xxxxxxx xxxx xxxx xxxxxxx xxxx xxxx xxxxxxx xxxx xxxx xxxx", 
    footer: "zzz") do 
  %>
    
  <% end %>
</div>