<header class="grid grid-cols-12 p-[2rem] border-b mb-[5rem] items-center">    
    <div class="col-span-2 text-3xl">
        Rails Blog
    </div>

    <nav class="col-start-6 col-span-1">
        <ul class="flex justify-between">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
        </ul>
    </nav>
</header>